{% extends 'base.html.twig' %}
{% form_theme form 'foundation_5_layout.html.twig' %}
{% block main %}
    {{ form_start(form) }}
        {{form_row(form)}}
        <button type= 'submit'>
            Update
        </button>
    {{ form_end(form) }}
  
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ path('home') }}" type="button" class="btn btn-secondary btn-lg px-4 gap-3">Back</a>

    </div>
{% endblock %}
